/k8s/
/test/
/**/__pycache__/
/.idea/
/build/
/dist/
/*.egg-info/
.git
.coverage
.gitignore
.gitlab-ci.yml
.dockerignore
.pre-commit-config.yaml
Dockerfile
Pipfile*
docker_build.sh
docker_registry.sh
package_registry.sh
qa.sh
setup.py
